<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Phân công</title>
    <link rel="stylesheet"
          href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    <link rel="stylesheet" th:href="@{/css/admin/view_account.css}">
    <link rel="icon" href="/image/p.png" type="image/x-icon">
</head>
<body>
<input type="checkbox" id="nav-toggle">
<div class="sidebar">
    <div class="sidebar-brand" style="margin-bottom: 30px">
        <img style="width: 282px; height: 60px; object-fit: cover; border-radius: 8px"
             src="https://phuongnamvina.com/img_data/images/logo-truong.jpg">
    </div>

    <div class="sidebar-menu">
        <ul>
            <li>
                <a href="/admin"><span class="las la-igloo"></span>
                    <span>Trang chủ</span></a>
            </li>
            <li>
                <a href="/admin/create-account"><span class="las la-users"></span>
                    <span>Thêm tài khoản</span></a>
            </li>
            <li>
                <a href="/admin/view-account"><span class="las la-user-circle"></span>
                    <span>Danh sách tài khoản</span></a>
            </li>
            <li>
                <a href="/admin/Project/create-project"><span class="las la-user-astronaut"></span>
                    <span>Thêm đồ án</span></a>
            </li>
            <li>
                <a href="/admin/Project/view-project"><span class="las la-shopping-bag"></span>
                    <span>Danh sách đồ án</span></a>
            </li>
            <li>
                <a href="/admin/Assignment/view-assignment"><span class="las la-user-tag"></span>
                    <span>Danh sách phân công</span></a>
            </li>
            <li>
                <a href="/admin/Assignment/create-assignment" class="active"><span class="las la-user-tag"></span>
                    <span>Phân công</span></a>
            </li>
            <li>
                <a href="/perform_logout"><span class="las la-sign-out-alt"></span>
                    <span>Đăng xuất</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="main-content">
    <header>
        <h2>
            <label for="nav-toggle">
                <span class="las la-bars"></span>
            </label>
            Dashboard
        </h2>


        <div class="user-wrapper">
            <img src="/image/ico_account_gray.png" width="24px" height="24px" alt="">
            <div>
                <h4 th:text="${authen_user.firstName + ' ' + authen_user.lastName}">Dung Cao Quoc</h4>
                <small th:text="${authen_user.role.roleName}"></small>
            </div>
        </div>
    </header>

    <main>
        <div class="container">
            <form th:action="@{/admin/Assignment/create-assignment}"
                  th:object="${assignment}"
                  method="POST"
                  enctype="multipart/form-data">
                <span class="title" th:text="'Phân công'"></span>
                <div class="form first">
                    <div class="details personal">
                        <div class="fields">

                            <div class="input-field">
                                <label>Giảng viên phụ trách</label>
                                <select class="form-control" id="lecturer" name="lecturer" required>
                                <th:block th:each="c : ${lecturer}">
                                    <option th:value="${c.id}" th:text="${c.getFirstName()}">
                                    </option>
                                </th:block>
                            </select>
                            </div>

                            <div class="input-field">
                                <label for="projects">Tên đồ án</label> <select class="form-control"
                                                                                 id="projects"
                                                                                 name="projects" required>
                                <th:block th:each="c : ${projects}">
                                    <option th:value="${c.projectId}" th:text="${c.getTitle()}">
                                    </option>
                                </th:block>
                            </select>
                            </div>
                        </div>
                    </div>

                    <div class="details ID">
                        <button type="submit" class="nextBtn">
                            <span class="btnText">Lưu</span>
                            <i class="uil uil-navigator"></i>
                        </button>
                        <img th:if="${success}" src="/image/success.png">
                    </div>
                </div>
            </form>
        </div>
    </main>
</div>
<script>
    let form = document.getElementById('frm');

    function changeRole() {
        form.submit();
    }
</script>
</body>
</html>