<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Teacher Dashboard</title>
    <link rel="stylesheet" th:href="@{/css/lecturer/style.css}"/>
    <!-- Favicon -->
    <link href="img/icons8-admin-settings-male-16.png" rel="icon"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined" rel="stylesheet">
</head>
<body>
<div class="container">
    <aside>
        <div class="navbar-top">
            <div class="profile">
                <div class="info active">
                    <h2>Welcome back, </h2>
                    <p class="text-muted"
                       th:text="${authen_user.firstName + ' ' + (authen_user.lastName == null ? '' : authen_user.lastName)}"></p>
                </div>
            </div>
            <div class="btn-close">
                <span class="material-symbols-outlined"> close </span>
            </div>
        </div>

        <div class="navbar-content">
            <a th:href="@{/lecturer}">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Trang chủ</h3>
            </a>
            <a th:href="@{/lecturer/confirm}">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Xác nhận đồ án</h3>
            </a>
            <a th:href="@{/lecturer/create_StudentWeeklyReport}">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Tạo báo cáo</h3>
            </a>
            <a th:href="@{/lecturer/list_StudentWeeklyReport}">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Xem báo cáo</h3>
            </a>
            <a th:href="@{/lecturer/evaluation}" >
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Báo cáo của sinh viên</h3>
            </a>
            <a th:href="@{/lecturer/projectGrade}">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Đánh giá đồ án</h3>
            </a>
            <a th:href="@{/lecturer/grade}" class="active">
                <span class="material-symbols-outlined"> grid_view </span>
                <h3>Bảng điểm</h3>
            </a>
            <a href="/perform_logout" class="logout">
                <span class="material-symbols-outlined"> logout </span>
                <h3>Logout</h3>
            </a>
        </div>
    </aside>
    <main>
        <h1 class="main-title">Giảng viên</h1>
        <div class="reports-section">
            <h2>Bảng điểm quá trình</h2>
            <table class="reports-table">
                <thead>
                <tr>
                    <th>Đề tài</th>
                    <th>Yêu cầu</th>
                    <th>Đánh giá</th>
                    <th>Ngày chấm</th>
                    <th>Sinh viên thực hiện</th>
                    <th>Điểm</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="projectGrade : ${evaluations}">
                    <td th:text="${projectGrade.title}"></td>
                    <td th:text="${projectGrade.description}"></td>
                    <td th:text="${projectGrade.feedback}"></td>
                    <td th:text="${projectGrade.evaluation_date}"></td>
                    <td th:text="${projectGrade.firstName + ' ' + projectGrade.lastName}"></td>
                    <td th:text="${projectGrade.grade}"></td>
                </tr>
                </tbody>
            </table>
            <div th:if="${evaluations.size() == 0}" class="no-data">
                <p>Không có yêu cầu báo cáo nào</p>
            </div>
        </div>
    </main>

</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script>
    const statuses = document.querySelectorAll('.status')
    statuses.forEach(status => {
        if (status.innerText === 'Completed') {
            status.style.color = '#41f1b6'
        } else if (status.innerText === 'Waiting') {
            status.style.color = '#eaa636'
        } else {
            status.style.color = '#fc515f'
        }
    });
</script>
</body>
</html>